{% extends 'list/base.html' %}
{% block content %}
<div class="col-sm-8">
  {% if list %}
    <br>
      {% for list in list %}
        <div class="row row-cols-auto">
          <div class="col">
            <h2>{{ list.list_name }}</h2>
          </div>
          <div class="col">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'lists:update' list.id%}">Change name</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'lists:delete' list.id%}">Delete list</a>
              </li>
            </ul>
          </div>
        </div>
      
        <ul class="list-group" >
          {% for item in list.items.all %}
            <li class="list-group-item">
              <div class="row row-cols-auto">
              <div class="col col-sm-1">
                <div class="p-2 ">
                  <div class="form-check ">
                    {% if item.isDone %}
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    {% else %}
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    {% endif %}
                  </div>
                </div>
                        </div>
              <div class="col-sm-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{list.id}}{{forloop.counter}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{list.id}}{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{list.id}}{{forloop.counter}}">
                        {{ item.item }}
                      </button>
                    </h2>
                    <!-- Uncollapses with edit and delete options -->
                    <div id="flush-collapse{{list.id}}{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{list.id}}{{forloop.counter}}" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <strong>
                          <span><a href="{% url 'lists:updateitem' list.id item.id%}">edit</a></span>
                          <span><a href="{% url 'lists:deleteitem' list.id item.id%}">delete</a></span>
                        </strong> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
            <li class="list-group-item">
              <a class="btn btn-outline-secondary btn-sm" href="{% url 'lists:additem' %}" role="button">Add Item</a>
            </li>
        </ul>
      <br>
      {% endfor %}
    <br>
  {% else %}
    <p>No items in list</p>
  {% endif %}
    <br>
      <a class="btn btn-outline-primary" href="{% url 'lists:create' %}" role="button">Create a New List</a>  
</div>
{% endblock %}